@model WebApplication1.Models.Celular

@{
    ViewBag.Title = "Cadastro de Celular";
}

<h2 class="text-center mb-4">Cadastrar Celular</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="card p-4 shadow-sm">
            <h4 class="text-primary">Informações do Celular</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <!-- Número -->
            <div class="form-group row">
                @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Novo (Checkbox) -->
            <div class="form-group row">
                @Html.LabelFor(model => model.Novo, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    <div class="form-check">
                        @Html.EditorFor(model => model.Novo, new { htmlAttributes = new { @class = "form-check-input" } })
                        @Html.ValidationMessageFor(model => model.Novo, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <!-- Fabrica -->
            <div class="form-group row">
                @Html.LabelFor(model => model.Fabrica, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Fabrica, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.Fabrica, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Marca -->
            <div class="form-group row">
                @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "col-md-2 col-form-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Botão Cadastrar -->
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-outline-success btn-lg">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="mt-4 text-center">
    @Html.ActionLink("Voltar", "Listar", null, new { @class = "btn btn-outline-primary" })
</div>
