@model IEnumerable<WebApplication1.Models.Celular>

@{
    ViewBag.Title = "Celular";
}

<h2>Listar Celulares</h2>

<div class="mb-3">
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-outline-primary" })
    <a href="@Url.Action("DownloadPdf", "Pdf", new { tema = "celular" })" class="btn btn-outline-secondary">Relatório de Celulares</a>
</div>

<table class="mt-2 table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Numero)</th>
            <th>@Html.DisplayNameFor(model => model.Marca)</th>
            <th>@Html.DisplayNameFor(model => model.Fabrica)</th>
            <th>@Html.DisplayNameFor(model => model.Novo)</th>
            <th style="width: 150px;">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Numero)</td>
                <td>@Html.DisplayFor(modelItem => item.Marca)</td>
                <td>@item.GetDataCelular()</td>
                <td>@Html.DisplayFor(modelItem => item.Novo)</td>
                <td>
                    @Html.ActionLink("✏️ Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-outline-info btn-sm" }) |
                    @Html.ActionLink("👁 Exibir", "Exibir", new { id = item.Id }, new { @class = "btn btn-outline-primary btn-sm" }) |
                    @Html.ActionLink("🗑 Excluir", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger btn-sm" })
                </td>
            </tr>
        }
    </tbody>
</table>
