@model IEnumerable<WebApplication1.Models.Evento>

@{
    ViewBag.Title = "Lista";
}

<h2>Listar: </h2>

<button class="btn btn-outline-primary">
    @Html.ActionLink("Cadastrar", "Create")
</button>
<table class="mt-2 table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Local)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Local)
        </td>
        <td>
            @item.GetDataEvento()
        </td>

        <td>
            @Html.ActionLink("✒", "Edit", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) })
            @Html.ActionLink("👁", "Exibir", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) })
            @Html.ActionLink("🗑", "Delete", new { id = Model.ToList<WebApplication1.Models.Evento>().IndexOf(item) })
        </td>
    </tr>
}

</table>
