@model WebApplication1.Models.Aluno

@{
    ViewBag.Title = "Deletar";
}

<h2>Excluir: </h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Aluno: @Html.DisplayFor(model => model.Nome)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RA)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="mt-2 form-actions no-color">
            <input type="submit" value="Excluir" class="btn btn-outline-danger"/> 
            <button class="btn-block btn btn-outline-primary">@Html.ActionLink("Voltar", "Listar")</button>
        </div>
    }
</div>
