@model IEnumerable<WebApplication1.Models.Aluno>

@{
    ViewBag.Title = "Lista";
}

<h2>Listar: </h2>

<button class="btn btn-outline-primary">
    @Html.ActionLink("Cadastrar", "Create")
</button>
<a href="@Url.Action("DownloadPdf", "Pdf", new { tema = "aluno" })" class="btn btn-outline-secondary">
    Relatório de Alunos
</a>



<table class="mt-2 table table-bordered table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nascimento)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>

            <td>
                @item.GetData()
            </td>
            <td>
                @Html.ActionLink("✒", "Edit", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }) |
                @Html.ActionLink("👁", "Exibir", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) }) |
                @Html.ActionLink("🗑", "Delete", new { id = Model.ToList<WebApplication1.Models.Aluno>().IndexOf(item) })
            </td>
        </tr>
    }

</table>
