@model List<WebApplication1.Models.Carro>

@{
    ViewBag.Title = "Lista de Carros";
}

<h2>Lista de Carros</h2>

<a>
    @Html.ActionLink("Cadastrar", "Create", null, new { @class = "btn btn-outline-primary" })
</a>

<a href="@Url.Action("DownloadPdf", "Pdf", new { tema = "carro" })" class="btn btn-outline-secondary">
    Relatório de Carros
</a>

<a href="@Url.Action("DownloadExcel", "Excel", new { tema = "carro" })" class="btn btn-outline-success">
    Planilha de Carros
</a>

<hr />

<table id="tabelaCarros" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Placa</th>
            <th>Ano</th>
            <th>Cor</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var carro in Model)
        {
            <tr>
                <td>@carro.Placa</td>
                <td>@carro.Ano.ToString("yyyy")</td>
                <td>@carro.Cor</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = carro.Id }, new { @class = "btn btn-outline-info btn-sm" })
                    <button class="btn btn-outline-danger btn-sm" onclick="excluirCarro(@carro.Id)">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <link
