@model WebApplication1.Models.Carro

@{
    ViewBag.Title = "Deletar";
}

<h2>Excluir: </h2>

<h3>Você tem certeza que deseja excluir este registro?</h3>
<div>
    <h4>Carro: @Html.DisplayFor(model => model.Placa)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Model.GetDataCarro()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="mt-2 form-actions no-color">
            <input type="submit" value="Delete" class="btn-block btn btn-outline-danger" /> |
            <button class="btn-block btn btn-outline-primary">@Html.ActionLink("Voltar", "Listar")</button>
        </div>
    }
</div>
